Options +FollowSymlinks
RewriteEngine on

#check whether we have a file or dir with that name
RewriteCond %{REQUEST_URI} !^/(CFIDE|cfide|assets)/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^(.+) /index.cfm/$1 [L]
